{% extends 'base.html.twig' %}

{% block title 'Agence Immobiliere' %}

{% block body %}
    <div class="">
        <div class="jumbotron text-center">
            <h1>Agence Globlehi Immobilier</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci, amet, aspernatur cum earum error et hic itaque labore
            </p>
        </div>
    </div>
{% endblock %}